/** { box-sizing: border-box; }*/
/*#got-gridbox {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*justify-content: space-between;*/
/*}*/
/*#got-gridbox figure {*/
    /*border: 1px solid #333;*/
    /*position: relative;*/
    /*font-size: 0; margin: 0;*/
    /*margin: 2% 0;*/
    /*flex: 0 0 48%;*/
/*}*/
/*#got-gridbox figure:nth-child(even) img { float: right;*/
/*}*/
/*#got-gridbox figure img {*/
    /*width: 60%; height: auto;*/
    /*margin-top: -2rem;*/
/*}*/
/*#got-gridbox figure figcaption {*/
    /*position: absolute; right: 4%;*/
    /*top: 5%;*/
    /*font-family: Deseret, Trajan Pro, Trajan, Requiem, serif;*/
    /*text-transform: uppercase;*/
    /*font-size: 1.6rem; text-align: right;*/
/*}*/
/*#got-gridbox figure:nth-child(even) figcaption {*/
    /*left: 4%; right: auto;*/
    /*text-align: left;*/
/*}*/
/*#got-gridbox figure:nth-last-child(-n+2) {*/
    /*background-image: linear-gradient(transparent, transparent 80%, #111 81%);*/
/*}*/

/*@media screen and (max-width: 900px) {*/
    /*#got-gridbox figure figcaption {*/
        /*font-size: 1.4rem; }*/
/*}*/

/*@media screen and (max-width: 800px) {*/
    /*#got-gridbox figure figcaption {*/
        /*font-size: 1.25rem; }*/
/*}*/

/*@media screen and (max-width: 750px) {*/
    /*#got-gridbox figure {*/
        /*flex: 0 0 100%; margin-bottom: 7%;*/
    /*}*/
    /*#got-gridbox figure figcaption {*/
        /*font-size: 1.6rem;*/
    /*}*/
/*}*/

/*@media screen and (max-width: 450px) {*/
    /*#got-gridbox figure figcaption { font-size: 1.2rem; width: 50%; }*/
/*}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: #f0f0f0;
}
body {
  color: #999999;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.btn {
  background-color: white;
  border: 1px solid #cccccc;
  color: #696969;
  padding: 0.5rem;
  text-transform: lowercase;
}
.btn--block {
  display: block;
  width: 100%;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cards__item {
  display: flex;
  padding: 1rem;
}
@media (min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}
@media (min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.card:hover .card__image {
  filter: contrast(100%);
}
.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}
.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  /*width: 640px;*/
  /*height: 640px;*/
}
.card__image::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}
@media (min-width: 40rem) {
  .card__image::before {
    padding-top: 66.6%;
  }
}
/*.card__image--flowers {*/
  /*background-image: url(https://unsplash.it/800/600?image=82);*/
/*}*/
/*.card__image--river {*/
  /*background-image: url(https://unsplash.it/800/600?image=11);*/
/*}*/
/*.card__image--record {*/
  /*background-image: url(https://unsplash.it/800/600?image=39);*/
/*}*/
/*.card__image--fence {*/
  /*background-image: url(https://unsplash.it/800/600?image=59);*/
/*}*/
.card__title {
  color: #696969;
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
